alsa-tools
anki
dunst
fbreader
fonts-cmu
fonts-f500
fonts-inconsolata
fonts-junicode
fonts-mathjax
gnuplot-x11
goobook
grafx2
maxima
mednafen
mpv
mutt
redshift
screengrab
solfege
stterm
suckless-tools
sxiv
texlive
timidity
unclutter
urlview
vice
xchm
xdm
xfonts-terminus
xscreensaver
xsel
xserver-xorg
zathura
zathura
zathura-djvu
zathura-ps
