alsa-tools
anki
apl
fbreader
fonts-cmu
fonts-f500
fonts-inconsolata
fonts-junicode
fonts-mathjax
gcc-doc
gdb
gnuplot-x11
grafx2
iwyu
jlang
manpages-dev
maxima
mednafen
mplayer
redshift
screengrab
solfege
stterm
suckless-tools
sxiv
texlive
timidity
unclutter
vice
xchm
xfonts-terminus
xmonad
xscreensaver
xsel
xserver-xorg
zathura
zathura
zathura-djvu
zathura-ps
